// place your custom styles here
@media (max-width: 719px) {
  .blog-hero .hero-image {
    max-height: 8rem;
  }
}
.theme-hope-content:not(.custom) > p,
.theme-hope-content:not(.custom) > ul p,
.theme-hope-content:not(.custom) > ol p {
  text-align: start;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vp-blog-hero {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  .vp-blog-hero-image {
    max-width: 30%;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .vp-blog-mask:after {
    background: none;
  }
  .vp-blog-hero-description {
    padding: 0 1rem;
    text-align: center;
  }
}
