// you can change colors here
@font-face {
  font-family: 'Sarasa Term SC';
  src: url(/assets/fonts/SarasaTermSC-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'UbuntuSansNerdFont';
  src: url(/assets/fonts/UbuntuSansNerdFont-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'UbuntuSansMonoNerdFont';
  src: url(/assets/fonts/UbuntuSansMonoNerdFont-Regular.woff2) format('woff2');
}

$vp-font: '"UbuntuSansNerdFont", "Sarasa Term SC"';
$vp-font-heading: '"UbuntuSansNerdFont", "Sarasa Term SC"';
$vp-font-mono: '"UbuntuSansMonoNerdFont", "Sarasa Term SC"';
